# ignore file directories
data/transcriptomics/
.vscode/
*.ipynb_checkpoints/
*.pyc
code/1.genome_collection/outputs/
code/3.pan-genome_construction/1.new_pan-genome_pipeline/output/
code/3.pan-genome_construction/2.build_geneMatrix/output/
code/3.pan-genome_construction/3.pan-genome_comparison/output/
code/3.pan-genome_construction/contamination/output/
code/4.core genome_analysis/compare_with_closed_yeasts/output/
code/4.core genome_analysis/coregenome_compare_other_sce_core/output/
code/5.build_ssGEMs/output/
code/6.transcriptomics_ssGEMs_analysis/output/
code/7.human_diary_ethanol_analysis/output/
.idea/

# ignore .git directories
.git/
.DS_Store
/data/genome/sce/pep/
/data/genome/yeast_species/pep/
/model/ssGEMs/
/code/phylogenetic_analysis/output/pan_existence_tree/
/code/phylogenetic_analysis/output/core_ORFs_msa_trimmed/
/code/phylogenetic_analysis/output/core_ORFs/
/code/6.transcriptomics_ssGEMs_analysis/2.ftinit_buildmodel/
/code/6.transcriptomics_ssGEMs_analysis/2.riptide_ssGEMs_result_analysis.ipynb
/code/6.transcriptomics_ssGEMs_analysis/3.fix_growth_ssGEMs_simulation_by_riptide.py
/code/6.transcriptomics_ssGEMs_analysis/3.run_riptide.slurm
/code/7.human_diary_ethanol_analysis/SNP_analysis/output/
/data/human_bioethanol_dairy_wt_SNP_indel.gvcf
